/* override bootstrap */
.navbar-default {
	/*background-color: #b9da89;*/
	/*border-color: #85c743;*/
	background-color: #fff;
}
.navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #006a35;
}
.navbar-default .navbar-text {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #006a35;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #006a35;
	background-color: #85c743;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #006a35;
	background-color: #85c743;
}
.navbar-default .navbar-toggle {
	border-color: #85c743;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #85c743;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ffffff;
}
.navbar-default .navbar-link {
	color: #ffffff;
}
.navbar-default .navbar-link:hover {
	color: #006a35;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #006a35;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #006a35;
		background-color: #85c743;
	}
}

.navbar-brand {
	background: url('../img/nwex_logo.png') no-repeat;
	height: 50px;
	width: 120px;
	background-size: cover;
}

.nav {
	margin-top: 6px;
}

.product-list .row {
	border-bottom: 1px solid #ddd;
	height: 80px;
}

.product-list .row img {
	width: 100%;
}

.price-panel {
	position: relative;
	height: 50px;
}

.price-panel > * {
	position: absolute;
	bottom: 0;
}

.price-panel > .price {
	color: #fd2e00;
	font-size: 17px;
	font-weight: bold;
	float: left;
}

.price-panel > .cart-panel {
	right: 20px;
	top: 20px;
}

.price-panel>.cart-panel>.stock {
	/*margin-top: 10px;*/
	width: 60px;
}

.thumb-wrapper {
	/*height: 100px;*/
	width: 100px;
	overflow: hidden;
	float: left;
}

.thumb {
	height: 100px;
	width: 100px;
	/*overflow: hidden;*/
	float: left;
	text-align: center;
}

.thumb img {
	max-height: 100%;
	max-width: 100%;
	min-height: 100%;
	min-width: 100%;
}

.explain {
	float: left;
	width: 65%;
	padding-left: 5px;
}

.explain p {
	margin: 0;
}

/*.explain h3 {
	font-size: 14px;
}
*/
.explain .product-name {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis
}

.explain .stock {

}

.explain .product-description {
	font-size: 12px;
}

.container-fluid {
	padding: 0;
}

.container-fluid>.row {
	margin: 0;
}

.container-fluid>.navbar-header {
	/*padding-left: 15px;*/
	margin: 0;
	float: left;
}

.nav-right-btn {
	float: right;
	margin: 0;
}

.nav-right-btn li {
	float: left;
}

.nav-right-btn > li > .btn-top {
	height: 50px;
	width: 40px;
	padding: 0;
}

.nav-right-btn > li > .btn-top > img{
	max-height: 100%;
}
#page-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
}

#page-top a {
		/*background-color: #b9da89;*/
	/*border-color: #85c743;*/
	background: #5cb85c;
	text-decoration: none;
	color: #fff;
	width: 100px;
	border-radius: 100px;
	padding: 10px;
}

#page-top a:hover {
	text-decoration: none;
	background-color: #449d44;
  border-color: #398439
}

.dropdown-block {
	width: 100%;
}
.btn-category {
	display: block;
}

.breadcrumb {
	margin-bottom: 0;
}

.navbar {
	margin-bottom: 0;
}

.information {
	margin: 10px 15px;
}

.btn-category .btn {
	border-radius: 0;
}

.row > .col-xs-12 {
	padding: 0;
}

.panel {
	margin: 0;
}

.panel > .panel-heading {
	padding: 1px;
}

.panel .panel-body > p {
	margin: 0;
}
.panel .panel-body > p .text-danger {
	font-weight: bold;
}


@media only screen and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
/*	.navbar > .container-fluid {
		padding-left: 15px;
	}*/


	.list-group-item {
		min-height: 120px;
		padding-left: 0;
		padding-right: 0;
	}
}

footer {
	background-color: #b9da89;
	border-color: #85c743;
	color: #006a35;
}